.navbar {
  flex-shrink: 0;
  max-width: 800px;
  margin: 0 auto;
}

.navbrand {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbrand:hover{
  color: white;
  opacity: 0.5;
  text-decoration: none;
}

