.SecondaryButton {
  background-color: var(--secondary-button);
  color: var(--secondary-button-text-color);
  border-radius: 0.3125rem;
  height: 3rem;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
